html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the html and body take up the full height of the viewport */
    background-color: #eee;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Use 1fr for the body to take remaining space */
    min-height: 100vh; /* Ensure container does not shrink below viewport height */
}

Header {
    background-color: gray;
    padding-left: 10px;
}

Footer {
    background-color: gray;
}

Template {
    background-color: bisque;
    background-color: lightgray;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Equal distribution for children */
    align-items: start;
    justify-items: center;
    z-index: 1; /* Lower z-index than header */
}

.set-audio{
    grid-column: 1 / span 2;
}
.graphing{
    grid-column: 1 / span 2;
}
