html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the html and body take up the full height of the viewport */
    background-color: #eee;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Use 1fr for the body to take remaining space */
    min-height: 100vh; /* Ensure container does not shrink below viewport height */
    background-color: lightgray;
}

Header {
    background-color: gray;
    padding-left: 10px;
}

Footer {
    background-color: gray;
    display: flex;
    align-items: center;
}
Footer>*{
    padding-left: 10px;
    color: black;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

Template {
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    column-gap: 80px;
    grid-template-columns: repeat(3, 1fr); /* Equal distribution for children */
    align-items: start;
    justify-items: center;
    z-index: 1; /* Lower z-index than header */
}

.set-audio{
    grid-column: 1 / span 3;
    display: grid;
    place-items: center;
    padding-bottom: 10px;
}
.set-audio>H1{
    margin-bottom: 0;
}
.set-audio>P{
    overflow-wrap: normal;
    max-width: 1000px;
    margin: 4px;
    text-align: center;
}

.graphing{
    grid-column: 1 / span 3;
}

.output-text{
    max-width: 240px;
    overflow-wrap: normal;
}

.access-text{
    display: flex;

    align-items: center;
    gap: 10px;
}

.help-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}
.help-text h2 {
    margin: 0;
    padding-bottom: 10px;
}
.help-text div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 650px;
}
UL{
    margin-top: 0px;
    margin-bottom: 0px;
}